{% load static %}
{% block extend_scripts %}

    <!-- Apex Charts JS -->
    <script src="{% static 'assets/libs/apexcharts/apexcharts.min.js' %}"></script>

    <!-- Chartjs Chart JS -->
    {#    <script src="{% static 'assets/libs/chart.js/chart.min.js' %}"></script>#}

    <!-- Index JS -->
    <script src="{% static 'assets/js/index.js' %}"></script>

    <!-- Back To Top -->
    <div class="scrollToTop">
        <span class="arrow"><i class="ri-arrow-up-s-fill text-xl"></i></span>
    </div>

    <div id="responsive-overlay"></div>

    <!-- popperjs -->
    <script src="{% static 'assets/libs/@popperjs/core/umd/popper.min.js' %}"></script>

    <!-- Color Picker JS -->
    <script src="{% static 'assets/libs/@simonwep/pickr/pickr.es5.min.js' %}"></script>

    <!-- sidebar JS -->
    <script src="{% static 'assets/js/defaultmenu.js' %}"></script>

    <!-- sticky JS -->
    <script src="{% static 'assets/js/sticky.js' %}"></script>

    <!-- Switch JS -->
    <script src="{% static 'assets/js/switch.js' %}"></script>

    <!-- Preline JS -->
    <script src="{% static 'assets/libs/preline/preline.js' %}"></script>

    <!-- Simplebar JS -->
    <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'assets/js/custom.js' %}"></script>


    <!-- Custom-Switcher JS -->
    <script src="{% static 'assets/js/custom-switcher.js' %}"></script>


    <!-- Flatpickr JS -->
    <script src="{% static 'assets/libs/flatpickr/flatpickr.min.js' %}"></script>

    <!-- Choices JS -->
    <script src="{% static 'assets/libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>


    <!-- Quill Editor JS -->
    <script src="{% static 'assets/libs/quill/quill.min.js' %}"></script>

    <!-- Echarts JS -->
    <script src="{% static 'assets/libs/echarts/echarts.min.js' %}"></script>

    <!-- Internal Echarts JS -->
    <script src="{% static 'assets/js/echarts.js' %}"></script>

    <!-- Filepond JS -->
    <script src="{% static 'assets/libs/filepond/filepond.min.js' %}"></script>
    <script src="{% static 'assets/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.js' %}"></script>
    <script src="{% static 'assets/libs/filepond-plugin-image-exif-orientation/filepond-plugin-image-exif-orientation.min.js' %}"></script>
    <script src="{% static 'assets/libs/filepond-plugin-file-validate-size/filepond-plugin-file-validate-size.min.js' %}"></script>
    <script src="{% static 'assets/libs/filepond-plugin-file-encode/filepond-plugin-file-encode.min.js' %}"></script>
    <script src="{% static 'assets/libs/filepond-plugin-image-edit/filepond-plugin-image-edit.min.js' %}"></script>
    <script src="{% static 'assets/libs/filepond-plugin-file-validate-type/filepond-plugin-file-validate-type.min.js' %}"></script>
    <script src="{% static 'assets/libs/filepond-plugin-file-validate-type/filepond-plugin-file-validate-type.min.js' %}"></script>
    <script src="{% static 'assets/libs/filepond-plugin-image-crop/filepond-plugin-image-crop.min.js' %}"></script>
    <script src="{% static 'assets/libs/filepond-plugin-image-resize/filepond-plugin-image-resize.min.js' %}"></script>
    <script src="{% static 'assets/libs/filepond-plugin-image-transform/filepond-plugin-image-transform.min.js' %}"></script>



    <!-- ADD Product JS -->
    <script src="{% static 'assets/js/addproduct.js' %}"></script>

{% endblock extend_scripts %}
